:root {
    --navbar-height: 3.5em;
    --main-color: #262626;
    --main-txt-color: white;
    --sec-txt-color: #262626;
    --txt-back-color: #f9f9f9;
    --txt-back-focus-color: white;
    --acc-color1: white;
    --acc-color2: #F9F9F9;
    --cont-color: white;
    --hover-color1: #f9f9f9;
    --hover-color2: #ff5d46;
    --btn-color: #ff5d46;
}

body {
    font-family: helvetica;
    color: #191919;
    margin: 0px;
    background-color: var(--cont-color);
}

#view {
    width: 100%;
    height: 100%;
    /*border: 1px solid lightgrey;*/
    /*padding: 10px;*/
}

#spacer {
    --space: 10%;
    padding-left: var(--space);
    padding-right: var(--space);
    padding-bottom: 2em;
    height: 100%;
    width: calc(100% - var(--space) * 2);
}

#content {
    background-color: var(--cont-color);
    width: 100%;
    position: absolute;
    /*padding: 0 70px;*/
    margin: auto;
    padding-top: 20px;
    height: calc(100%-2em);
    margin-top: var(--navbar-height);
}


/*Navbar related*/

#navbar {
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    /*display: table;*/
    background-color: var(--main-color);
    color: var(--main-txt-color);
    z-index: 2000;
}

#navtitle {
    /*display: table-cell;
    vertical-align: middle;*/
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
    /*font-family: "Roboto", sans-serif;*/
}

.pagetitle {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--hover-color2);
    border-bottom: 1px solid var(--hover-color2);
}

#btnbox-right {
    height: 100%;
    width: var(--navbar-height);
    background-color: var(--main-color);
    float: right;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#btnbox-left {
    height: 100%;
    width: var(--navbar-height);
    background-color: var(--main-color);
    float: left;
    display: flex;
    justify-content: center;
    cursor: pointer;
    /*background-color: red;*/
}

#btn1 {
    z-index: 200;
    width: 40%;
    height: 40%;
    border-radius: 100%;
    background-color: var(--acc-color1);
    margin-top: calc(30%);
    cursor: pointer;
}

#btn1:hover {
    background-color: var(--hover-color2);
}

#btnline {
    z-index: 200;
    width: 60%;
    height: 5px;
    /*height: 60%;*/
    border-radius: 2.5px;
    /*border-radius: 60%;*/
    background-color: var(--acc-color1);
    margin-top: calc(50% - 2px);
    /*margin-top: calc(50% - 30%);*/
    cursor: pointer;
    -webkit-transition: height 0.5s, width 0.5s, border-radius 0.5s, margin-top 0.5s;
    -moz-transition: height 0.5s, width 0.5s, border-radius 0.5s, margin-top 0.5s;
    transition: height 0.5s, width 0.5s, border-radius 0.5s, margin-top 0.5s;
}

#btnbox:hover #btnline {
    width: 40%;
    height: 40%;
    margin-top: calc(30%);
    /*height: 60%;*/
    border-radius: 100%;
    background-color: var(--hover-color1);
}

#btnline:hover {
    width: 40%;
    height: 40%;
    margin-top: calc(30%);
    /*height: 60%;*/
    border-radius: 100%;
    background-color: var(--hover-color1);
}


/*Navbar related*/

.block {
    display: block;
}

.txt1 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: var(--sec-txt-color);
    width: 100%;
}

.lft {
    margin-right: 0.5em;
}

.rgt {
    margin-left: 0.5em;
}

.iconbtn {
    background-color: var(--btn-color);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2em;
    padding: 5px;
    border-radius: 2em;
    margin-left: 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.icon30 {
    color: white;
    font-size: 30px;
}

.iconbtn:hover {
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}

.p1 {
    font-size: 18px;
    font-weight: 300;
}

.a1 {
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    color: var(--sec-txt-color);
}

.a1:hover {
    color: var(--hover-color2);
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.stand-txt-div {
    /*height: 2em;*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--acc-color1);
    background-color: var(--acc-color2);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}


/*Helper Containers*/

.container0 {
    width: 100%;
    display: flex;
    justify-content: center;
    /*margin-top: 40px;*/
}

.container10 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container20 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container30 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container40 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}


/*Helper Containers*/

.w50 {
    width: 50%
}


/*Input file and label*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 18px;
    font-weight: 300;
    color: var(--sec-txt-color);
    /*background-color: black;*/
    display: inline-block;
}

.inputfile:focus + label, .inputfile + label:hover {
    color: var(--hover-color2);
}

.inputfile + label {
    cursor: pointer;
    /* "hand" cursor */
}


/*Input file and label*/


/*Textarea*/

textarea {
    width: 100%;
    min-height: 50px;
    padding: 15px;
    width: 100%;
    min-height: 50px;
    padding: 15px;
    resize: none;
    font-size: 16px;
    border: 1px solid var(--acc-color1);
    background-color: var(--acc-color2);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

textarea:hover {
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}

textarea:focus {
    outline: none;
    background-color: white;
    border: 1px solid var(--hover-color2);
}


/*Textarea*/


/*Table*/

#tablediv {
    width: 100%;
    height: 150px;
    border: 1px solid var(--acc-color1);
    background-color: var(--acc-color2);
    overflow-y: auto;
}

#csvtable {
    width: 100%;
    height: 150px;
    border: 1px solid var(--acc-color1);
    background-color: var(--acc-color2);
}

table, th, td {
    border: 1px solid var(--acc-color1);
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}


/*Table*/


/*Normal button*/

.btn1 {
    color: var(--btn-color);
    background-color: var(--cont-color);
    border: 0.1em solid var(--btn-color);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 2em;
    min-width: 4em;
    border-radius: 0.2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.btn1:hover {
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}

.btn1:active {
    background-color: var(--btn-color);
    color: var(--cont-color);
}

.btn1:focus {
    outline: 0;
}


/*Normal button*/


/*List*/

ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    width: 100%;
}

ul li {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.li-link {
    border-bottom: 1px solid var(--main-color);
}


/*List*/


/*Input number type*/

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inp-nr {
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
    font-size: 16px;
    border: 1px solid var(--acc-color1);
    background-color: var(--acc-color2);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

.inp-nr:hover {
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}

.inp-nr:focus {
    outline: none;
    background-color: white;
    border: 1px solid var(--hover-color2);
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}


/*Input number type*/


/*Sidenav*/

#sidenav[open="0"] {
    z-index: 2000;
    width: 0%;
    height: 0%;
    display: none;
    background-color: var(--acc-color2);
    position: absolute;
    top: calc(var(--navbar-height) + 20px);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}

#sidenav[open="open"] {
    width: 60%;
    height: 30%;
    z-index: 2000;
    display: block;
    background-color: var(--acc-color2);
    position: absolute;
    top: calc(var(--navbar-height) + 20px);
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}


/*Sidenav*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*GRID*/

.e-grid {
    background-color: white;
    border: 1px solid var(--main-color);
}

.e-cell {
    background-color: var(--acc-color2);
    border: 1px solid var( --txt-back-color);
    padding: 1px;
    display: inline-block;
}
.e-cell:hover {
    background-color: red;
    -webkit-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 12px -5px rgba(0, 0, 0, 0.75);
}